1.Create a Python class named Person with attributes name and age. Provide a constructor to initialize these attributes. Also, create an object of this class and print the details.

In [1]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

obj=Person("Bibhakar",24)
print(obj.name," ",obj.age)

Bibhakar   24

In [2]:
obj2 = Person("Ram",100)
print(obj2.name," ",obj2.age)

Ram   100

2.Add a method to the Person class called display_info that prints the name and age of the person.

In [3]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def display_info(self):
    print(self.name," ",self.age)

In [4]:
obj3=Person("Paul",26)
obj3.display_info()

Paul   26

3.Create a class named Car with an attribute model and a method display_model that prints the model of the car. Create an object of this class and call the method.

In [5]:
class Car:
  def __init__(self,model):
    self.model=model

  def display_model(self):
    print(self.model)

In [6]:
obj4=Car("Range Rover Difender")
obj4.display_model()

Range Rover Difender

4.Create a class named Rectangle with attributes length and width. Add a method calculate_area that returns the area of the rectangle. Create an object and call the method.

In [2]:
class Rectangle:
  def __init__(self,length,width):
    self.length=length
    self.width=width    

  def calculte_area(self):
    return self.length*self.width

In [3]:
obj5=Rectangle(6,8)
obj5.calculte_area()

48

5.Create a class named Person with a private attribute age. Add a method set_age that sets the age, and a method get_age that returns the age. Create an object and demonstrate the use of these methods.

In [12]:
class Person:
  def __init__(self):
    self.__age = 0

  def set_age(self,value):
    self.__age=value

  def get_age(self):
    return self.__age

In [13]:
obj6=Person()
obj6.set_age(24)
obj6.get_age()

24

6.Create a class named Book with a class variable total_books to keep track of the total number of books. Add a method add_book that increments the total count. Create objects and call the method to demonstrate.

In [4]:
class Book:
  total_book=0

  def add_books(self):
    Book.total_book+=1

In [5]:
book1=Book()

In [6]:
book2=Book()

In [7]:
book3=Book()

In [8]:
book1.add_books()
book2.add_books()
book3.add_books()

In [9]:
Book.total_book

3

7.Create a class named Student with attributes name and age, and provide default values for these attributes in the constructor. Create an object without passing any values and print the details.

In [31]:
class Student:
  def __init__(self,name="Nothing",age="00"):
    self.name=name
    self.age=age

In [32]:
std1=Student()

In [33]:
std1.name

'Nothing'

In [34]:
std1.age

'00'

8.Create a class named Calculator with a method add_numbers that takes two parameters and returns their sum. Create an object and call the method.

In [43]:
class Calculator:
  def add_numbers(self,x,y):
    # self.x=x
    # self.y=y
    # return self.x+self.y
    return x+y

In [44]:
cal1=Calculator()
cal1.add_numbers(6,9)

15

9.Create a class named Person with attributes name and age. Add a method compare_age that takes another person as a parameter and compares their ages. Create two objects and demonstrate the method.

In [28]:
class Person:
  def __init__(self,name,age):
    self.name=name 
    self.age=age 
      
  def compare_age(self,val): # val=45
    if val.age > self.age:  # 45>34
      return "person1 is elder"
    elif val.age==self.age:
      return "same age"
    else:
      return "person2 is elder"

In [29]:
obj1=Person("Alice",45)
obj2=Person("kholi",34)

# obj1.compare_age(obj1)
obj2.compare_age(obj1)

'person1 is elder'

10.Create a class named Country with attributes name and population. Add a docstring to the class explaining its purpose and attributes.

In [30]:
class Country:

  """
  This is a class named as country that represent country with name and population.

  Attributes :
    -name = Name of the country
    -population = Population of that country

  """
  def __init__(self,name,population):
    self.name=name
    self.population=population