In [258]:
# from google.colab import files

# # Choose the CSV file from your local machine
# uploaded = files.upload()
import pandas as pd

1.**Read** the CSV file. `( Car Insurance Dataset )`

In [259]:
df = pd.read_csv('/content/Car Insuarance New 1 - Pandas Assignment .csv')
df

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,"33,249",2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,"714,966",8,Direct
1,10001,"28,102",2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,"718,209",6,Direct
2,10002,"30,271",2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,"640,333",5,In Direct
3,10003,"26,247",2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
4,10004,"29,665",2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,"706,606",7,In Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17253,27253,"33,305",2005,1,0,"1,370",361,Hyundai,Sedan,Mumbai,1,Credit Card,"650,455",6,In Direct
17254,27254,"29,035",2018,1,0,"1,342",554,Mahindra,HatchBack,Pen,1,Net Banking,"763,506",8,In Direct
17255,27255,"25,230",2018,2,0,"1,246",594,Mahindra,Sedan,Navi Mumbai,1,Digital Wallet,"697,297",7,Direct
17256,27256,"32,652",2011,2,1,"1,386",492,Maruti,Sedan,Mumbai,0,Digital Wallet,"664,094",6,In Direct
17257,27257,"28,774",2010,1,1,"1,520",583,Hyundai,Sedan,Thane,0,Net Banking,"792,785",7,Direct

2.**Display** the **first 5 rows** of the dataset to get a quick overview.

In [260]:
df.head(5)

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,"33,249",2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,"714,966",8,Direct
1,10001,"28,102",2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,"718,209",6,Direct
2,10002,"30,271",2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,"640,333",5,In Direct
3,10003,"26,247",2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
4,10004,"29,665",2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,"706,606",7,In Direct

3.Check for the **null values** in the dataset. If **null values** present in the dataset then fill those null values with apropiate values.

In [261]:
df.isnull().sum()

CustID                     0
Premium                    9
Model_Year                 0
Owner_Type                 0
Road side addon            0
No Claim bonus discount    0
Electric add on rate       0
Company                    6
Car Type                   0
RTO                        0
CNGkit                     0
Paymentmode                0
Total IDV                  0
Seats                      0
Acquisition Channel        0
dtype: int64

In [262]:
df['Premium']=df['Premium'].fillna(df['Premium'].mode()[0])
df['Company']=df['Company'].fillna(df['Company'].mode()[0])
df.isnull().sum()

CustID                     0
Premium                    0
Model_Year                 0
Owner_Type                 0
Road side addon            0
No Claim bonus discount    0
Electric add on rate       0
Company                    0
Car Type                   0
RTO                        0
CNGkit                     0
Paymentmode                0
Total IDV                  0
Seats                      0
Acquisition Channel        0
dtype: int64

4.check for the **data types** of the **columns** in the dataframe and change them accordingly.

In [263]:
df.dtypes

CustID                      int64
Premium                    object
Model_Year                  int64
Owner_Type                  int64
Road side addon             int64
No Claim bonus discount    object
Electric add on rate        int64
Company                    object
Car Type                   object
RTO                        object
CNGkit                      int64
Paymentmode                object
Total IDV                  object
Seats                       int64
Acquisition Channel        object
dtype: object

In [264]:
df['Premium'] = df['Premium'].str.replace(',','') # Remove commas from the 'Premium' column
df['Premium'] = pd.to_numeric(df['Premium'])      # Convert the 'Premium' column to numeric
df['No Claim bonus discount'] = pd.to_numeric(df['No Claim bonus discount'], errors='coerce')
df['Company'] = df['Company'].astype('category')
df['Car Type'] = df['Car Type'].astype('category')
df['RTO'] = df['RTO'].astype('category')
df['Paymentmode'] = df['Paymentmode'].astype('category')
df['Total IDV'] = pd.to_numeric(df['Total IDV'], errors='coerce')
df['Acquisition Channel'] = df['Acquisition Channel'].astype('category')

df.dtypes

CustID                        int64
Premium                       int64
Model_Year                    int64
Owner_Type                    int64
Road side addon               int64
No Claim bonus discount     float64
Electric add on rate          int64
Company                    category
Car Type                   category
RTO                        category
CNGkit                        int64
Paymentmode                category
Total IDV                   float64
Seats                         int64
Acquisition Channel        category
dtype: object

5.Are there any **duplicate rows** in the dataset, if duplicate rows present in the dataset then **drop** those duplicate rows.

In [265]:
#df.pivot_table(index=['CustID','Premium',	'Model_Year','Owner_Type','Road side addon','No Claim bonus discount','Electric add on rate','Company','Car Type','RTO','CNGkit','Paymentmode','Total IDV','Seats','Acquisition Channel'],aggfunc ='size')
df.duplicated().sum()

0

In [266]:
df.drop_duplicates()

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,33249,2011,1,1,NaN,384,Hyundai,Sedan,Pen,0,Digital Wallet,NaN,8,Direct
1,10001,28102,2013,2,0,NaN,411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,NaN,6,Direct
2,10002,30271,2008,1,0,NaN,317,Hyundai,Sedan,Thane,1,Digital Wallet,NaN,5,In Direct
3,10003,26247,2014,2,0,NaN,496,Honda,Sedan,Mumbai,1,Net Banking,NaN,7,In Direct
4,10004,29665,2005,1,0,NaN,447,Hyundai,Sedan,Thane,1,Credit Card,NaN,7,In Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17253,27253,33305,2005,1,0,NaN,361,Hyundai,Sedan,Mumbai,1,Credit Card,NaN,6,In Direct
17254,27254,29035,2018,1,0,NaN,554,Mahindra,HatchBack,Pen,1,Net Banking,NaN,8,In Direct
17255,27255,25230,2018,2,0,NaN,594,Mahindra,Sedan,Navi Mumbai,1,Digital Wallet,NaN,7,Direct
17256,27256,32652,2011,2,1,NaN,492,Maruti,Sedan,Mumbai,0,Digital Wallet,NaN,6,In Direct
17257,27257,28774,2010,1,1,NaN,583,Hyundai,Sedan,Thane,0,Net Banking,NaN,7,Direct

6.Because of some high fraud rate, the company has decided not to give insurance to cars with RTO as **Pen** with **CNG kit** installed and older than **2005 (inclusive 2005)**. How much **premium loss** they will face because of this decision?

In [267]:
df.dtypes

CustID                        int64
Premium                       int64
Model_Year                    int64
Owner_Type                    int64
Road side addon               int64
No Claim bonus discount     float64
Electric add on rate          int64
Company                    category
Car Type                   category
RTO                        category
CNGkit                        int64
Paymentmode                category
Total IDV                   float64
Seats                         int64
Acquisition Channel        category
dtype: object

In [268]:
filter_df = df[(df['RTO']=='Pen') & (df['CNGkit']==1) & (df['Model_Year']<=2005)]
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 656 entries, 20 to 17245
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CustID                   656 non-null    int64
 1   Premium                  656 non-null    int64
 2   Model_Year               656 non-null    int64
 3   Owner_Type               656 non-null    int64
 4   Road side addon          656 non-null    int64
 5   No Claim bonus discount  0 non-null      float64
 6   Electric add on rate     656 non-null    int64
 7   Company                  656 non-null    category
 8   Car Type                 656 non-null    category
 9   RTO                      656 non-null    category
 10  CNGkit                   656 non-null    int64
 11  Paymentmode              656 non-null    category
 12  Total IDV                0 non-null      float64
 13  Seats                    656 non-null    int64
 14  Acquisition Channel      656 non-null    category
dtypes: category(5), float64(2), int64(8)
memory usage: 60.4 KB

In [269]:
print("Total premium loss they will face because of this decision is -",filter_df['Premium'].sum())

Total premium loss they will face because of this decision is - 19738413

7.Which **car manufacture company** has major percentage in overall **policy count in 2019**?

In [270]:
df

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,33249,2011,1,1,NaN,384,Hyundai,Sedan,Pen,0,Digital Wallet,NaN,8,Direct
1,10001,28102,2013,2,0,NaN,411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,NaN,6,Direct
2,10002,30271,2008,1,0,NaN,317,Hyundai,Sedan,Thane,1,Digital Wallet,NaN,5,In Direct
3,10003,26247,2014,2,0,NaN,496,Honda,Sedan,Mumbai,1,Net Banking,NaN,7,In Direct
4,10004,29665,2005,1,0,NaN,447,Hyundai,Sedan,Thane,1,Credit Card,NaN,7,In Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17253,27253,33305,2005,1,0,NaN,361,Hyundai,Sedan,Mumbai,1,Credit Card,NaN,6,In Direct
17254,27254,29035,2018,1,0,NaN,554,Mahindra,HatchBack,Pen,1,Net Banking,NaN,8,In Direct
17255,27255,25230,2018,2,0,NaN,594,Mahindra,Sedan,Navi Mumbai,1,Digital Wallet,NaN,7,Direct
17256,27256,32652,2011,2,1,NaN,492,Maruti,Sedan,Mumbai,0,Digital Wallet,NaN,6,In Direct
17257,27257,28774,2010,1,1,NaN,583,Hyundai,Sedan,Thane,0,Net Banking,NaN,7,Direct

In [271]:
year_df = df[(df['Model_Year']==2019)]
car_df = year_df['Company'].value_counts()
# print(car_df)
percentage = (car_df / car_df.sum())*100
# print(percentage)

print("Major car company is -", percentage.idxmax())
print("Major percentage is -",percentage.max())

Major car company is - Maruti
Major percentage is - 26.9185360094451

8.What is the **correlation** of **premium** and **No Claim bonus discount** for Maruti hatchback?

In [272]:
df2=pd.read_csv('/content/Car Insuarance New 1 - Pandas Assignment .csv')
df2

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,"33,249",2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,"714,966",8,Direct
1,10001,"28,102",2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,"718,209",6,Direct
2,10002,"30,271",2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,"640,333",5,In Direct
3,10003,"26,247",2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
4,10004,"29,665",2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,"706,606",7,In Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17253,27253,"33,305",2005,1,0,"1,370",361,Hyundai,Sedan,Mumbai,1,Credit Card,"650,455",6,In Direct
17254,27254,"29,035",2018,1,0,"1,342",554,Mahindra,HatchBack,Pen,1,Net Banking,"763,506",8,In Direct
17255,27255,"25,230",2018,2,0,"1,246",594,Mahindra,Sedan,Navi Mumbai,1,Digital Wallet,"697,297",7,Direct
17256,27256,"32,652",2011,2,1,"1,386",492,Maruti,Sedan,Mumbai,0,Digital Wallet,"664,094",6,In Direct
17257,27257,"28,774",2010,1,1,"1,520",583,Hyundai,Sedan,Thane,0,Net Banking,"792,785",7,Direct

In [273]:
car_hatch = df2[(df2['Company']=='Marut') & (df2['Car Type']=='HatchBack')]
correlation = (car_hatch['Premium'].corr(car_hatch['No Claim bonus discount']))

correlation

nan

9.What is the **percentage** of **hatchback** Cars with **CNG kit** in **Mumbai** RTO?

In [274]:
city = df2[(df2['RTO']=='Mumbai')]
car = city[(city['CNGkit']==1) & (city['Car Type']=='HatchBack')]
total_length = len(car)

total_hatch = df2[df2['Car Type']=='HatchBack']
hatch_len = len(total_hatch)

percentage = (total_length/hatch_len)*100

In [275]:
# print(total_length)
# print(hatch_len)
print("The percentage of hatchback Cars with CNG kit in Mumbai is",percentage)

The percentage of hatchback Cars with CNG kit in Mumbai is 12.234103713924343

10.What is the **median** of premium for **sedan cars** for the **latest** year?

In [276]:
car = df2[df2["Car Type"]=='Sedan']
latest_year = car['Model_Year'].max()
sedan_latest = car[car['Model_Year']==latest_year]
sedan_latest

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
88,10088,"31,938",2019,2,1,"1,481",466,Hyundai,Sedan,Thane,0,Credit Card,"614,384",8,In Direct
138,10138,"31,662",2019,1,1,"1,506",451,Maruti,Sedan,Mumbai,1,Digital Wallet,"811,017",8,In Direct
149,10149,"33,056",2019,1,0,"1,579",491,Mahindra,Sedan,Mumbai,1,Credit Card,"741,263",5,Direct
261,10261,"27,244",2019,1,0,"1,222",466,Honda,Sedan,Mumbai,0,UPI,"830,784",8,In Direct
323,10323,"30,945",2019,1,0,"1,295",445,Maruti,Sedan,Thane,0,Digital Wallet,"791,845",7,Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17001,27001,"32,634",2019,2,1,"1,200",555,Maruti,Sedan,Navi Mumbai,1,UPI,"705,421",5,Direct
17047,27047,"28,004",2019,1,0,"1,315",343,Hyundai,Sedan,Thane,0,Credit Card,"813,927",5,Direct
17064,27064,"30,283",2019,2,0,"1,569",468,Honda,Sedan,Pen,1,UPI,"749,813",8,Direct
17155,27155,"31,845",2019,1,0,"1,270",573,Hyundai,Sedan,Navi Mumbai,0,Digital Wallet,"553,506",5,In Direct
17191,27191,"32,928",2019,1,1,"1,458",309,Mahindra,Sedan,Pen,0,Credit Card,"774,949",5,Direct

In [277]:
# sedan_latest['Premium'].head()
# Remove commas from the 'Premium' column
sedan_latest['Premium'] = sedan_latest['Premium'].str.replace(',', '')

# Convert the 'Premium' column to numeric
sedan_latest['Premium'] = pd.to_numeric(sedan_latest['Premium'])

<ipython-input-277-d87f00421a9b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sedan_latest['Premium'] = sedan_latest['Premium'].str.replace(',', '')
<ipython-input-277-d87f00421a9b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sedan_latest['Premium'] = pd.to_numeric(sedan_latest['Premium'])

In [278]:
sedan_latest

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
88,10088,31938,2019,2,1,"1,481",466,Hyundai,Sedan,Thane,0,Credit Card,"614,384",8,In Direct
138,10138,31662,2019,1,1,"1,506",451,Maruti,Sedan,Mumbai,1,Digital Wallet,"811,017",8,In Direct
149,10149,33056,2019,1,0,"1,579",491,Mahindra,Sedan,Mumbai,1,Credit Card,"741,263",5,Direct
261,10261,27244,2019,1,0,"1,222",466,Honda,Sedan,Mumbai,0,UPI,"830,784",8,In Direct
323,10323,30945,2019,1,0,"1,295",445,Maruti,Sedan,Thane,0,Digital Wallet,"791,845",7,Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17001,27001,32634,2019,2,1,"1,200",555,Maruti,Sedan,Navi Mumbai,1,UPI,"705,421",5,Direct
17047,27047,28004,2019,1,0,"1,315",343,Hyundai,Sedan,Thane,0,Credit Card,"813,927",5,Direct
17064,27064,30283,2019,2,0,"1,569",468,Honda,Sedan,Pen,1,UPI,"749,813",8,Direct
17155,27155,31845,2019,1,0,"1,270",573,Hyundai,Sedan,Navi Mumbai,0,Digital Wallet,"553,506",5,In Direct
17191,27191,32928,2019,1,1,"1,458",309,Mahindra,Sedan,Pen,0,Credit Card,"774,949",5,Direct

In [279]:
median = sedan_latest['Premium'].median()
median

29415.0

11.What is the **change percentage** of the **premium** from **2018 to 2019** model for **Pen** RTO where **IDV** is **more than 8 lakh**?

In [280]:
df2['Total IDV'] = df2['Total IDV'].str.replace(',', '')
df2['Premium'] = df2['Premium'].str.replace(',', '')
df2['Total IDV'] = pd.to_numeric(df2['Total IDV'])
df2['Premium'] = pd.to_numeric(df2['Premium'])
df2

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,33249.0,2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,714966,8,Direct
1,10001,28102.0,2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,718209,6,Direct
2,10002,30271.0,2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,640333,5,In Direct
3,10003,26247.0,2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,617561,7,In Direct
4,10004,29665.0,2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,706606,7,In Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17253,27253,33305.0,2005,1,0,"1,370",361,Hyundai,Sedan,Mumbai,1,Credit Card,650455,6,In Direct
17254,27254,29035.0,2018,1,0,"1,342",554,Mahindra,HatchBack,Pen,1,Net Banking,763506,8,In Direct
17255,27255,25230.0,2018,2,0,"1,246",594,Mahindra,Sedan,Navi Mumbai,1,Digital Wallet,697297,7,Direct
17256,27256,32652.0,2011,2,1,"1,386",492,Maruti,Sedan,Mumbai,0,Digital Wallet,664094,6,In Direct
17257,27257,28774.0,2010,1,1,"1,520",583,Hyundai,Sedan,Thane,0,Net Banking,792785,7,Direct

In [281]:
_2018 = df2[(df['RTO'] == 'Pen') & (df2['Model_Year'] == 2018) & (df2['Total IDV'] > 800000)]
_2019 = df2[(df['RTO'] == 'Pen') & (df2['Model_Year'] == 2019) & (df2['Total IDV'] > 800000)]

premium_2018 = _2018['Premium'].mean()
premium_2019 = _2019['Premium'].mean()

In [282]:
print("the premium from 2018 to 2019 model for Pen RTO where IDV is more than 8 lakh is",premium_2018)

the premium from 2018 to 2019 model for Pen RTO where IDV is more than 8 lakh is 29366.424242424244

12.Mumbai manager wants to approach their indirect customer to make them direct. If manager achieve 25% of the total goal, then what is the total additional premium they take directly?

In [283]:
mumbai = df['RTO']=='Mumbai'
total_goal = mumbai['Premium'].sum()
percent_goal = 0.25 * total_goal

In [284]:
print("total additional premium key is -",percent_goal)

total additional premium key is - 129304345.75

13.What is the **median difference** of **IDV** in between **sedan 2019** model and **hatchback 2018** model?

In [285]:
sedan_2019= df2[(df2['Car Type'] == 'Sedan') & (df2['Model_Year'] == 2019)]
hatchback_2018 = df2[(df2['Car Type'] == 'HatchBack') & (df2['Model_Year'] == 2018)]

In [296]:
idv_diff = sedan_2019['Total IDV'] - hatchback_2018['Total IDV']
print('the median difference of IDV in between sedan 2019 model and hatchback 2018 model is', idv_diff.median())

the median difference of IDV in between sedan 2019 model and hatchback 2018 model is nan

/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

14.What is the **correlation** between **IDV** and **premium** for **5 seater sedan in Thane**?

In [297]:
sedan_thane_5 = df2[(df2['Car Type'] == 'Sedan') & (df2['Seats'] == 5) & (df2['RTO'] == 'Thane')]

In [298]:
correlation = sedan_thane_5['Total IDV'].corr(sedan_thane_5['Premium'])
print(' the correlation between IDV and premium is -',correlation)

 the correlation between IDV and premium is - 0.10827859980357293

15.What is the **count** of **2nd hand 2005** year model cars in **Navi Mumbai**, who has taken **road side assistance** add-on?

In [303]:
model_cars = df2[(df2['Model_Year'] == 2005) & (df2['RTO'] == 'Navi Mumbai') & (df2['Owner_Type'] == 2) & (df['Road side addon'] == 1)]

In [306]:
print(len(model_cars),"is the count of 2nd hand 2005 year model cars in Navi Mumbai, who has taken road side assistance add-on")

60 is the count of 2nd hand 2005 year model cars in Navi Mumbai, who has taken road side assistance add-on