# Introduction to Programming with Python

![](https://multimatics.co.id/images/utilize-phyton-programming.jpg)

## Introduction to Python

### Why Programming Language?

> A programming language is a set of rules and commands that allows people to tell computers what to do. Computers understand binary code, which is a series of 0s and 1s, but it's not practical for humans to use. So, programming languages provide a way for us to communicate with computers using words and symbols.

### How a Computer Program Works?

> Think of a computer program like a detailed set of instructions you give to a robot. The instructions are written in a special language the robot understands. When you run the program, it's like pressing a start button for the robot. The robot follows each instruction, does calculations, handles information, and performs tasks you told it to do. Essentially, a computer program is a sequence of steps that makes the computer or robot do something specific.

![](https://masai-school.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F6e07e80e-065d-4685-8d85-938e7a9e6d30%2FUntitled.png?table=block&id=a4415fe2-efdd-4aad-826c-f093273d4a86&spaceId=ff94b4dd-cb13-4ede-8019-d6a8215bf3d5&width=760&userId=&cache=v2)

This sequence, often abbreviated as "IPO," represents the basic flow of information in a computer system:

- **Input:** Information or data is entered into the computer. This could be from a keyboard, mouse, sensors, or other sources.

- **Process:** The computer processes or manipulates the input data according to the instructions given by a program. This involves calculations, comparisons, and other operations.

- **Memory:** The processed information is temporarily stored in the computer's memory (RAM) for quick access during the processing phase.

- **Output:** The final results are produced as output, which could be displayed on a screen, printed on paper, or sent to other devices. Output represents the end result of the computer's processing.

This sequence is fundamental to understanding how computers take in information, work with it, store intermediate results, and ultimately produce meaningful output.

### Different Programming Languages

![](https://coderpad.io/wp-content/uploads/2024/01/coderpad-lnaguages-1.png)

- **Diverse Languages:** From C to Java, Python, and JavaScript, there's a variety of programming languages.

- **Everyday Apps:** In our daily lives, apps like VLC, Excel, and Zoom are essentially computer programs, providing a user-friendly way to interact with our devices.

### List of in - demand programming Languages

![](https://torquemag.io/wp-content/uploads/2022/02/stackoverflow-developer-survey-2021-most-popular-technologies.png)

### Why Learn Python?

- **Versatile and Readable:** Python's clean syntax and versatility make it suitable for diverse applications, from web development to data science and artificial intelligence.

- **Career Boost:** Learning Python enhances career prospects, as it is in high demand across industries, offering opportunities in technology, finance, data science, and more.

- **Community Support:** Python has a large and supportive community, providing extensive resources, libraries, and frameworks, making it accessible for beginners and valuable for experienced developers.

### Integrated Development Environments (IDEs)

![](https://masai-school.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F2989d9a6-d2c6-4630-87cc-58122b91c349%2FUntitled.png?table=block&id=721cb5bc-a268-433c-9a96-6cde978a3c83&spaceId=ff94b4dd-cb13-4ede-8019-d6a8215bf3d5&width=2000&userId=&cache=v2)

- **What's an IDE?**
  - An Integrated Development Environment (IDE) is like a supercharged toolbox for computer programmers. It's a computer program that brings together all the tools you need to write, test, and organize your code in one place.

- **What's Inside?**
  - Think of it like this: in one section, you have a place to write your code (like a fancy text editor), and in another part, there's a button to turn your code into something the computer understands (like magic translation). There's also a tool to find and fix mistakes (like a code detective), and even a manager to keep track of all the different pieces of your project (like a project organizer).

- **Why Use It?**
  - Using an IDE is like having a superhero sidekick for coding. It makes everything smoother and faster because you don't have to switch between different programs all the time. It's all in one place, helping you write better code and build cool things on the computer.


- **PyCharm:** Developed by JetBrains, PyCharm is a robust Python IDE with advanced features like code analysis, debugging, and support for web development frameworks.

- **Visual Studio Code (VSCode):** A lightweight and versatile code editor by Microsoft, VSCode supports Python with extensions, offering debugging, syntax highlighting, and integrated Git control.

- **Jupyter Notebook:** Widely used in data science, Jupyter is an open-source web application for creating documents with live code, visualizations, and narrative text, making it ideal for interactive coding and analysis.

## Setup Jupyter notebook

- Go to https://www.anaconda.com/
- Go To download tab
- Select your operating system.
- Select python 3 or above
- Set up and install

## Exploring Jupyter Notebook

![](https://georgejmount.com/wp-content/uploads/2021/05/aina_1002-1024x360.png)

Jupyter Notebook has several distinct components that contribute to its functionality:

1. **Notebook Dashboard:**
   - When you start Jupyter, you are presented with a dashboard that allows you to navigate through your file system, create new notebooks, and open existing ones.

2. **Notebook Interface:**
   - The notebook interface is where you create, edit, and run your code. It consists of cells, which can be either code cells or Markdown cells.

3. **Cell Types:**
   - **Code Cells:** These cells contain executable code (e.g., Python). You can run the code in a cell by pressing Shift + Enter.
   - **Markdown Cells:** These cells contain formatted text written in Markdown. They are used for documentation, explanations, and annotations.

4. **Kernel:**
   - The kernel is the computational engine that executes the code contained in a notebook. When you run a code cell, it sends the code to the kernel, which processes it and returns the output to the notebook.

5. **Cell Toolbar:**
   - The cell toolbar provides options for configuring and manipulating cells. You can use it to change cell types, move cells, and perform other cell-related actions.

6. **Toolbar:**
   - The toolbar contains icons for common actions such as saving the notebook, adding new cells, cutting/copying/pasting cells, and running cells.

7. **Output Area:**
   - Below each code cell is the output area, where the results of executing the code are displayed. This can include text output, tables, charts, or other visualizations.

8. **Magic Commands:**
   - Jupyter supports "magic commands" that provide additional functionality. For example, `%matplotlib inline` allows for inline plotting of Matplotlib figures.

9. **Keyboard Shortcuts:**
   - Jupyter provides a variety of keyboard shortcuts for efficient navigation and execution. For instance, pressing `B` adds a new cell below the current one, and pressing `A` adds a new cell above.

10. **Cell Execution Order:**
    - Each code cell has a number indicating the order in which it was executed. This helps in tracking the sequence of code execution, especially in notebooks with multiple cells.

11. **File Menu:**
    - The File menu provides options for saving, exporting, and closing notebooks. You can save your work in various formats, including .ipynb (Jupyter Notebook format), HTML, and PDF.

12. **Help Menu:**
    - The Help menu provides access to Jupyter's documentation and other helpful resources. It also includes a keyboard shortcuts reference.

These components collectively create a user-friendly and interactive environment for coding, data analysis, and collaborative work in Jupyter Notebook.

## Variables in Python

> Variables are containers for storing data values. In Python, you can create a variable and assign a value to it.

Let's take an example. You are currently living somewhere, you got a job in Bangalore. You need to shift to Bangalore. What you will do?

![](https://masai-school.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Ff63f8937-2609-497e-ab4c-2e533a982a37%2FUntitled.png?table=block&id=886a218f-c21f-4b0f-8b19-5cc4e32f0bcc&spaceId=ff94b4dd-cb13-4ede-8019-d6a8215bf3d5&width=2000&userId=&cache=v2)

You will pack the items. How we will pack the items?

We will use different containers to pack the items. But why do we need to pack them in a proper container for each item? Because we can carry each item safely in transport and we can reuse them.

In a similar way to how the containers are working, we have variables in Python.

![](https://masai-school.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F6df4064f-ee1b-4f31-960b-728636ba6210%2FUntitled.png?table=block&id=b7c7373b-2ccb-4291-b539-3089359efeec&spaceId=ff94b4dd-cb13-4ede-8019-d6a8215bf3d5&width=2000&userId=&cache=v2)

`Syntax: variable_name = value`

**Example:**

In [ ]:
# Here `name` is a box and `Masai` is your goods

name = "Masai"
age = 25
height = 5.9

#Now you can print the "name"

print(name)

Masai

#### Exercises

In [ ]:
# Try creating some variables

In [ ]:
# Try creating some variables

In [ ]:
# Try creating some variables

Now how does this work?

> In computing, the system's memory, measured in capacities such as 512 MB, 1 GB, etc., serves as a storage space for various data during program execution. Similarly, devices like mobile phones have their own memory capacities, such as 64 GB or 128 GB. This memory is organized into smaller units known as bits.

When executing code, for instance, `name = "Masai"`, a specific location in the computer's memory is allocated to store the value `Masai`, and the identifier or variable name `name` is assigned to reference that particular memory location. This process is commonly referred to as variable assignment.

In summary, variable assignment involves associating a value with a variable name, and this association is maintained within the computer's memory for the duration of the program's execution.

## Datatypes in Python

> In Python, a data type is a classification that specifies which type of value a variable can hold. It defines the operations that can be performed on the values and the way they behave.

What did you find from the picture?

![](https://masai-school.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F21f7b1e2-0003-428c-a49c-1542bc1b5611%2FUntitled.png?table=block&id=5efc1608-9751-4621-a2cd-653298ef7550&spaceId=ff94b4dd-cb13-4ede-8019-d6a8215bf3d5&width=2000&userId=&cache=v2)

If you have a container for ice-cream, can we pack a TV in that container? If you have a water bottle can we pack photo frame in that? No, so we need different types of containers to pack the different items.

Here different types of penholders are made to store the pen we can’t store milk in that bottle.  We can’t store food in a water bottle. So different things have been built for different purposes.

In a similar way, in Python, we have different datatypes. Like age is a number so all the numbers are a different datatype. Name is a string datatype. Is Delhi capital of India? True.  Is MS Dhoni a captain of Indian cricket team?  False. This type of data - True/False values are known as Boolean.

![](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)

### Different Data Types in Python:

#### Numeric Data Types:

##### 1. **Integer (`int`):**
   - **Definition:** Whole numbers without a decimal point.
   - **Example:**

In [ ]:
x = 5
x

5

#### 2. **Float (`float`):**
   - **Definition:** Numbers with a decimal point or written in scientific notation.
   - **Example:**

In [ ]:
y = 3.14
y

3.14

##### 3. **Complex (`complex`):**
   - **Definition:** Numbers with a real and imaginary part.
   - **Example:**

In [ ]:
z = 2 + 3j
z

(2+3j)

#### Boolean Data Type:

##### 4. **Boolean (`bool`):**
   - **Definition:** Represents either True or False.
   - **Example:**

In [ ]:
is_adult = True
is_adult

True

#### Set and Dictionary Data Types:

##### 5. **Set (`set`):**
   - **Definition:** Unordered collection of unique items.
   - **Example:**

In [ ]:
numbers_set = {2, 4, 6}
numbers_set

{2, 4, 6}

##### 6. **Dictionary (`dict`):**
   - **Definition:** Unordered collection of key-value pairs.
   - **Example:**

In [ ]:
person = {"name": "Masai", "age": 30}
person

{'name': 'Masai', 'age': 30}

#### Sequence Data Types:

##### 7. **String (`str`):**
   - **Definition:** Sequence of characters, enclosed in single or double quotes.
   - **Example:**

In [ ]:
name = "Masai"
name

'Masai'

##### 8. **List (`list`):**
   - **Definition:** Ordered and mutable collection of items.
   - **Example:**

In [ ]:
fruits = ["Masai", "Python", "Variable"]
fruits

['Masai', 'Python', 'Variable']

##### 9. **Tuple (`tuple`):**
   - **Definition:** Ordered and immutable collection of items.
   - **Example:**

In [ ]:
coordinates = (7, 9)
coordinates

(7, 9)

### Exercises:

   - Create an integer variable `num_of_books` and assign it the value `15`.
   - Define a float variable `average_rating` with the value `4.7`.
   - Create a complex variable `imaginary_number` with the value `3 + 2j`.
   - Assign a boolean variable `is_raining` with the value `True`.
   - Create another boolean variable `is_weekend` with the value `False`.
   - Create a set variable `prime_numbers_set` with values `2, 3, 5, 7`.
   - Define a dictionary variable `city_population` with keys "New York" and "Tokyo" and their respective population values.
   - Create a string variable `favorite_movie` with the title of your favorite movie.
   - Create a list variable `fruits_list` with items like "apple," "banana," and "grape."
   - Define a tuple variable `coordinates_tuple` with latitude and longitude values.
   - Create a dictionary `student_info` with keys like "name," "age," "grade," and mix different data types for their values.
   - Change the value of `num_of_books` to `20`.
   - Update the `favorite_movie` to a new title.
   - Add a new fruit to the `fruits_list`.
   - Change the imaginary part of `imaginary_number` to a different value.
   - Print each variable along with its type using `print()`.

Remember to test and print your variables at each step to ensure the correctness of your solutions.

### Variable Naming Rules in Python:

1. **Start with a Letter or Underscore:**
   - Valid: `variable_name`, `_underscore_variable`
   - Invalid: `2variable`, `@symbol_variable`

2. **Case-Sensitive:**
   - `my_variable` and `My_Variable` are different variables.

3. **Use Alphanumeric Characters and Underscores:**
   - Valid: `num_1`, `total_count`, `data_set_2`
   - Invalid: `user@name`, `variable#1`

4. **Avoid Reserved Keywords:**
   - You cannot use Python keywords as variable names.
   - Invalid: `class`, `def`, `if`, `else`

5. **Meaningful and Descriptive:**
   - Choose names that convey the purpose of the variable.
   - Good: `total_price`, `user_age`, `student_name`
   - Avoid: `x`, `abc`, `temp`

6. **No Spaces or Special Characters:**
   - Spaces are not allowed in variable names.
   - Invalid: `my variable`, `user-name`, `data!`

7. **Snake Case for Readability:**
   - Use snake_case for variable names (lowercase with underscores between words).
   - Good: `user_name`, `total_count`, `data_set`
   - Avoid: `userName`, `TotalCount`, `dataSet`

8. **Avoid Single-letter Names, Except in Loops:**
   - Use meaningful names; exceptions are often made for loop variables.
   - Good: `index`, `value`
   - Avoid: `i`, `j`, `k` unless in a loop context

### Examples:

In [ ]:
# Valid Variable Names
user_name = "John"
total_count = 100
data_set_2 = [1, 2, 3]
my_var = 42

In [ ]:
# Invalid Variable Names
2nd_variable = "Invalid"  # Starts with a number
user@name = "Invalid"     # Contains special character
class = "Invalid"         # Reserved keyword

SyntaxError: invalid syntax (3350186692.py, line 2)

Following these rules ensures that your variable names are clear, consistent, and adhere to Python's conventions, contributing to code readability and maintainability.

### How do we check the data types of variables?

In Python, the `type()` function is used to determine the type of a variable or a value. It returns the type as a class type.

### Examples:

In [ ]:
# Integer Type
num = 42
print(type(num))  # <class 'int'>

# Float Type
price = 3.14
print(type(price))  # <class 'float'>

# String Type
name = "Alice"
print(type(name))  # <class 'str'>

# Boolean Type
is_adult = True
print(type(is_adult))  # <class 'bool'>

# List Type
fruits = ["apple", "banana", "orange"]
print(type(fruits))  # <class 'list'>

# Tuple Type
coordinates = (3, 5)
print(type(coordinates))  # <class 'tuple'>

# Dictionary Type
person = {"name": "Bob", "age": 30}
print(type(person))  # <class 'dict'>

# Set Type
prime_numbers = {2, 3, 5, 7}
print(type(prime_numbers))  # <class 'set'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

The `type()` function is particularly useful when you want to dynamically check the type of a variable during program execution.

#### Exercise

Print each variable along with its type using print() and type() functions.

### What's Typecasting in Python?

> Typecasting in Python refers to the process of converting a variable from one data type to another. This is often necessary when you want to perform operations or combine values of different data types. Python provides several built-in functions for typecasting.

### Examples:

In [ ]:
#### 1. **Integer Typecasting (`int()`):**

# Float to Integer
float_number = 3.14
int_number = int(float_number)
print(int_number)  # 3

# String to Integer
str_number = "42"
int_from_str = int(str_number)
print(int_from_str)  # 42


#### 2. **Float Typecasting (`float()`):**

# Integer to Float
int_value = 5
float_value = float(int_value)
print(float_value)  # 5.0

# String to Float
str_float = "3.14"
float_from_str = float(str_float)
print(float_from_str)  # 3.14


#### 3. **String Typecasting (`str()`):**

# Integer to String
int_value = 42
str_from_int = str(int_value)
print(str_from_int)  # '42'

# Float to String
float_value = 3.14
str_from_float = str(float_value)
print(str_from_float)  # '3.14'


#### 4. **Boolean Typecasting (`bool()`):**

# Integer to Boolean
int_value = 0
bool_from_int = bool(int_value)
print(bool_from_int)  # False

# String to Boolean
str_value = "True"
bool_from_str = bool(str_value)
print(bool_from_str)  # True

#### 5. **List, Tuple, Set Typecasting (`list()`, `tuple()`, `set()`):**

# String to List
str_list = "abc"
list_from_str = list(str_list)
print(list_from_str)  # ['a', 'b', 'c']

# Tuple to List
tuple_values = (1, 2, 3)
list_from_tuple = list(tuple_values)
print(list_from_tuple)  # [1, 2, 3]

# Set to List
set_values = {4, 5, 6}
list_from_set = list(set_values)
print(list_from_set)  # [4, 5, 6]

3
42
5.0
3.14
42
3.14
False
True
['a', 'b', 'c']
[1, 2, 3]
[4, 5, 6]

These typecasting functions allow you to convert variables from one data type to another as needed in your Python programs. Keep in mind that not all typecastings are possible (e.g., converting a string with non-numeric characters to an integer), and attempting such operations may result in errors.

### Exercises in Python:

   - Create an integer variable `num_of_items` with the value `15`.
     - Convert it to a float and print the result.

- Create a float variable `average_rating` with the value `4.7`.
     - Convert it to an integer and print the result.

- Create a string variable `num_str` with the value `"25"`.
     - Convert it to both an integer and a float. Print both results.

 - Create a boolean variable `is_adult` with the value `True`.
     - Convert it to an integer and print the result.

 - Create an integer variable `quantity` with the value `30`.
     - Convert it to a string and print the result.

- Create a string variable `letters` with the value `"abc"`.
     - Convert it to a list of characters and print the result.

- Create a list variable `numbers_list` with values `1, 2, 3`.
  - Convert it to a tuple and print the result.

- Create a string variable `unique_chars` with the value `"abcabc"`.
    - Convert it to a set of unique characters and print the result.

- Create a tuple variable `coordinates` with values `4, 5`.
   - Convert it to a string and print the result.

## BODMAS Rule in Python

> In Python, the BODMAS rule, which stands for Brackets, Orders (i.e., powers and square roots, etc.), Division and Multiplication, and Addition and Subtraction, is followed for evaluating mathematical expressions. It helps to define the order of operations when multiple operations are present in a single expression.

### Example:

In [ ]:
# Example Expression: 2 + 3 * 4 / 2 - 1
result = 2 + 3 * 4 / 2 - 1

print(result)

7.0

### BODMAS Rule in Action:

1. **Brackets:**
   - Operations inside brackets are performed first.
   - Example: `(2 + 3) * 4 / 2 - 1`

2. **Orders (Powers and Square Roots):**
   - Exponents and square roots are calculated next.
   - Example: `2 + 3 ** 2 * 4 / 2 - 1`

3. **Division and Multiplication:**
   - Division and multiplication are performed from left to right.
   - Example: `2 + (3 * 4) / 2 - 1`

4. **Addition and Subtraction:**
   - Finally, addition and subtraction are performed from left to right.
   - Example: `((2 + 3) * 4) / 2 - 1`

### BODMAS Rule in Python Code:

In [ ]:
# BODMAS Rule Example
result = (2 + 3) * 4 / 2 - 1
print(result)

9.0

In this example, the result will be calculated following the BODMAS rule, and the final value of `result` will be printed. Understanding and applying the BODMAS rule is crucial for accurate evaluation of mathematical expressions in programming.

## Operators

> Operators in Python are symbols that perform operations on operands.

![](https://i.imgur.com/Ie8f0RM.png)

### 1. Arithmetic Operators:

Arithmetic operators perform basic mathematical operations on numeric operands.

- **Addition (`+`):** Adds two operands.

In [ ]:
result = 5 + 3  # 8
result

8

- **Subtraction (`-`):** Subtracts the right operand from the left operand.

In [ ]:
result = 7 - 2  # 5
result

5

- **Multiplication (`*`):** Multiplies two operands.

In [ ]:
result = 4 * 6  # 24
result

24

- **Division (`/`):** Divides the left operand by the right operand.

In [ ]:
result = 9 / 3  # 3.0 (result is a float)
result

3.0

- **Modulus (`%`):** Returns the remainder of the division of the left operand by the right operand.

In [ ]:
result = 10 % 3  # 1
result

1

- **Exponentiation (`"* *"`):** Raises the left operand to the power of the right operand.

In [ ]:
result = 2 ** 4  # 16
result

16

In [ ]:
6**2

36

In [ ]:
"sam" + " " + "masai"

'sam masai'

In [ ]:
"sam" - "masai"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### 2. Comparison Operators:

Comparison operators compare two values and return a boolean result (True or False).

- **Equal to (`==`):** Returns True if the left operand is equal to the right operand.

In [ ]:
5 == 5  # True

True

- **Not equal to (`!=`):** Returns True if the left operand is not equal to the right operand.

In [ ]:
8 != 3  # True

True

- **Greater than (`>`):** Returns True if the left operand is greater than the right operand.

In [ ]:
10 > 7  # True

True

- **Less than (`<`):** Returns True if the left operand is less than the right operand.

In [ ]:
4 < 9  # True

True

- **Greater than or equal to (`>=`):** Returns True if the left operand is greater than or equal to the right operand.

In [ ]:
6 >= 6  # True

True

- **Less than or equal to (`<=`):** Returns True if the left operand is less than or equal to the right operand.

In [ ]:
3 <= 2  # False

False

### 3. Logical Operators:

Logical operators perform logical operations on boolean values.

- **Logical AND (`and`):** Returns True if both the left and right operands are True.

In [ ]:
True and False  # False

False

- **Logical OR (`or`):** Returns True if at least one of the operands is True.

In [ ]:
True or False  # True

True

- **Logical NOT (`not`):** Returns the opposite of the operand's boolean value.

In [ ]:
not True  # False

False

### 4. Assignment Operators:

Assignment operators assign values to variables.

- **Assignment (`=`):** Assigns the value on the right to the variable on the left.

In [ ]:
x = 10

- **Addition Assignment (`+=`):** Adds the right operand to the variable on the left.

In [ ]:
y = 5
y += 3  # Equivalent to y = y + 3
y

8

- **Subtraction Assignment (`-=`):** Subtracts the right operand from the variable on the left.

In [ ]:
z = 8
z -= 2  # Equivalent to z = z - 2
z

6

### 5. Identity Operators:

Identity operators compare the memory locations of two objects.

- **Identity (`is`):** Returns True if both operands refer to the same object.

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
result = a is b  # False
result

False

In [ ]:
a == b

True

- **Non-identity (`is not`):** Returns True if both operands do not refer to the same object.

In [ ]:
c = a
result = a is not c  # False
result

False

These operators play a crucial role in performing various operations and comparisons in Python programming.

### Exercises

1. Calculate the total cost of purchasing 5 items at $10 each using arithmetic operators.

2. Check if the number 20 is less than or equal to 25 using a comparison operator.

3. Determine if it's a sunny day and the temperature is above 30 degrees using logical operators.

4. Assign a value of 15 to a variable and increment it by 5 using an assignment operator.

5. Compare two lists to check if they refer to the same memory location using an identity operator.

6. Check if the element "apple" is present in the list `["orange", "banana", "apple"]` using a membership operator.

7. Calculate the area of a rectangle with a length of 12 and a width of 8 using arithmetic operators.

8. Verify if the result of `(4 + 3) * 2` is not equal to `10` using a comparison operator.

9. Check if it's a rainy day or the temperature is below 20 degrees using logical operators.

10. Assign a value of 25 to a variable and decrement it by 10 using an assignment operator.

## Conditional Statements

> Conditional statements in Python allow you to control the flow of your program based on certain conditions.

![](https://files.realpython.com/media/Conditional-Statements-in-Python_Watermarked.b6b7d30ff62b.jpg)

### 1. **if Statement:**
The `if` statement is used to execute a block of code only if a specified condition is true.

In [ ]:
# Example
x = 10

if x > 5:
    print("x is greater than 5")

In [7]:
if "bib" in "Bibhakar":
    print("coder")
else:
    print("human")

human

### 2. **if-else Statement:**
The `if-else` statement allows you to execute one block of code if the condition is true and another block if it is false.

In [ ]:
# Example
y = 3

if y % 2 == 0:
    print("y is even")
else:
    print("y is odd")

### 3. **if-elif-else Statement:**
The `if-elif-else` statement allows you to check multiple conditions and execute the corresponding block of code based on the first true condition.

In [ ]:
# Example
grade = 75

if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
else:
    print("Fail")

### 4. **Nested if Statements:**
You can nest `if` statements inside each other to handle more complex conditions.

In [ ]:
# Example
age = 25
income = 50000

if age > 18:
    if income > 30000:
        print("Eligible for loan")
    else:
        print("Income too low")
else:
    print("Age not eligible for loan")

### 5. **Ternary Operator:**
The ternary operator is a concise way to write an `if-else` statement in a single line.

In [ ]:
# Example
result = "Pass" if grade >= 60 else "Fail"
print(result)

These conditional statements allow you to make decisions in your code, making it more flexible and responsive to different scenarios.

### Exercises

1. Write a Python program that checks if a given number is positive, negative, or zero.

2. Create a program that determines if a student has passed or failed based on their exam score. A passing score is 60 or above.

3. Check if a year is a leap year. A leap year is divisible by 4, but not divisible by 100 unless it is divisible by 400.

4. Write a program that categorizes a person's age into "child" (0-12), "teenager" (13-19), "adult" (20-64), and "senior" (65 and above).

5. Create a program that recommends activities based on the weather. If it's sunny, suggest outdoor activities. If it's rainy, suggest indoor activities. Handle other weather conditions as well.

6. Determine if a given number is even or odd.


7. Write a program that calculates the shipping cost based on the weight of a package. If the weight is 5 kg or less, the cost is $10; otherwise, it is $20.

8. Check if a given username and password match predefined values. Allow access if the credentials are correct; otherwise, deny access.

9. Create a simple calculator that performs addition, subtraction, multiplication, or division based on user input. Handle division by zero.