# Lists, Tuples, Strings, Sets & Dictionaries

![](https://files.realpython.com/media/The-Python-defaultdict-Type_Watermarked.f6e14d903857.jpg)

## Lists

![](https://av-eks-blogoptimized.s3.amazonaws.com/lists-indexing-and-splitting.png)

### Definition:

A list is a fundamental data structure in programming that allows you to store and organize a collection of items. These items can be of any data type, such as numbers, strings, or even other lists. Lists are versatile and commonly used in various programming languages to manage and manipulate data efficiently.

### Why we need lists:

1. **Organizing Data:** Lists help in organizing and managing data in a structured manner.
2. **Sequential Access:** Items in a list are ordered and can be accessed sequentially using their index.
3. **Flexibility:** Lists can contain elements of different data types, making them versatile for various applications.
4. **Mutable:** Lists are mutable, meaning you can modify, add, or remove elements.

### Different Methods Used on Lists:

#### 1. **Creating a List:**
   - Definition: Creating a list with a sequence of elements.
   - Example:

In [3]:
my_list = [1, 2, 3, 4, 5]

#### 2. **Accessing Elements:**
   - Definition: Retrieving elements from a list using index.
   - Example:

In [ ]:
first_element = my_list[0]  # Accessing the first element

In [ ]:
first_element

#### 3. **Slicing:**
   - Definition: Extracting a portion of a list.
   - Example:

In [ ]:
sublist = my_list[1:4]  # Extract elements from index 1 to 3

In [ ]:
sublist

#### 4. **Appending and Extending:**
   - Definition: Adding elements to the end of a list.
   - Example:

In [ ]:
my_list.append([6])       # Appending a single element
my_list

In [ ]:
my_list.extend([7, 8])  # Extending with multiple elements
my_list

#### 5. **Inserting:**
   - Definition: Inserting an element at a specific index.
   - Example:

In [ ]:
my_list.insert(2, 10)  # Inserting 10 at index 2

In [ ]:
my_list

#### 6. **Removing Elements:**
   - Definition: Removing elements by value or index.
   - Example:

In [ ]:
my_list.remove(4)     # Removing element with value 4
my_list

[1, 2, 3, 5]

In [ ]:
popped_element = my_list.pop(1)  # Removing and returning element at index 1
popped_element

2

#### 7. **List Comprehension:**
   - Definition: A concise way to create lists.
   - Example:

In [ ]:
squared_numbers = [x**2 for x in my_list]
squared_numbers

#### 8. **`reverse()`:**
   - **Definition:** Reverses the order of the elements in the list.
   - **Example:**

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)  # Output: [5, 4, 3, 2, 1]

#### 9. **`sort()`:**
   - **Definition:** Sorts the elements of the list in ascending order.
   - **Example:**

In [ ]:
numbers = [5, 2, 8, 1, 3]
numbers.sort()
print(numbers)  # Output: [1, 2, 3, 5, 8]

- **Custom Sorting:**

In [ ]:
words = ["banana", "apple", "orange", "grape"]
words.sort(key=len)  # Sort by length
print(words)  # Output: ['apple', 'grape', 'banana', 'orange']

### Exercises:

1. Create a list of your favorite fruits.

2. Access and print the third element of the list.

3. Slice the list to get only the first three fruits.

4. Append a new fruit to the list.

5. Insert a fruit at the second position.

6. Remove your least favorite fruit from the list.

7. Create a new list with the lengths of each fruit name.

8. Use list comprehension to create a new list with only the fruits containing the letter 'a'.

9. Reverse the order of your favorite fruits list using the `reverse()` method.

10. Sort the list alphabetically using the `sort()` method.

11. Create a list of numbers in random order and sort them in descending order.

12. Sort a list of words based on their length in ascending order.

These exercises will help you practice different operations on lists in Python.

## Tuples

![](https://i.pinimg.com/564x/95/a3/e5/95a3e56b3e35b689ffdbef272b95855d.jpg)

### Definition:

A tuple is a collection of ordered and immutable elements. Unlike lists, once a tuple is created, its elements cannot be modified, added, or removed. Tuples are defined using parentheses `()`.

### Why we need tuples:

1. **Immutability:** Tuples are useful when you want to ensure that the data remains constant throughout the program.
2. **Performance:** Tuples are generally more memory-efficient than lists.
3. **Sequence Unpacking:** Tuples can be used for efficient assignment and swapping of values.
4. **Dictionary Keys:** Tuples can be used as keys in dictionaries, unlike lists.

### Different Methods Used on Tuples:

#### 1. **Creating a Tuple:**
   - **Definition:** Creating a tuple with a sequence of elements.
   - **Example:**

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

#### 2. **Accessing Elements:**
   - **Definition:** Retrieving elements from a tuple using index.
   - **Example:**

In [ ]:
first_element = my_tuple[0]  # Accessing the first element
first_element

#### 3. **Tuple Unpacking:**
   - **Definition:** Assigning values from a tuple to variables.
   - **Example:**

In [ ]:
a, b, c = my_tuple[:3]  # Unpack the first three elements
print(a)
print(b)
print(c)

#### 4. **Concatenation:**
   - **Definition:** Combining two or more tuples.
   - **Example:**

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result_tuple = tuple1 + tuple2
result_tuple

(1, 2, 3, 4, 5, 6)

#### 5. **`count()`:**
   - **Definition:** Returns the number of occurrences of a specified value in the tuple.
   - **Example:**

In [ ]:
my_tuple = (1, 2, 2, 3, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)  # Output: 3

3

#### 6. **`index()`:**
   - **Definition:** Returns the index of the first occurrence of a specified value.
   - **Example:**

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
index_of_3 = my_tuple.index(3)
print(index_of_3)  # Output: 2

2

In [ ]:
my_tuple[2]

3

#### 7. **`len()`:**
   - **Definition:** Returns the number of elements in the tuple.
   - **Example:**

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple)
print(length)  # Output: 5

5

#### 8. **`min()`, `max()`, `sum()`:**
   - **Definition:**
     - `min()`: Returns the smallest element in the tuple.
     - `max()`: Returns the largest element in the tuple.
     - `sum()`: Returns the sum of all elements in the tuple (works for numeric elements).
   - **Example:**

In [ ]:
numbers = (10, 5, 8, 3, 12)
min_value = min(numbers)
print(min_value)

3

In [ ]:
max_value = max(numbers)
print(max_value)

12

In [ ]:
sum_value = sum(numbers)
print(sum_value)

38

In [ ]:
sum(list9)

7

In [ ]:
min(list9)

1

In [ ]:
max(list9)

4

#### 9. **`sort()`:**
   - **Note:** Tuples are immutable, so they don't have a `sort()` method. However, you can use the `sorted()` function to create a new sorted tuple.
   - **Example:**

In [ ]:
unsorted_tuple = (5, 2, 8, 1, 3)
sorted_tuple = tuple(sorted(unsorted_tuple))
sorted_tuple

### Exercises:

1. Create a tuple with the names of your favorite colors.

2. Access and print the second element of the tuple.

3. Use tuple unpacking to assign the values of the first three colors to three variables.

4. Create another tuple with the names of additional colors and concatenate it with the first tuple.

5. Try to modify an element in the tuple (you should get an error since tuples are immutable).

6. Create a tuple with the ages of your family members and find the maximum age.

7. Swap the values of two variables using tuple unpacking.

8. Count the number of occurrences of a specific color in your favorite colors tuple.

9. Find the index of the first occurrence of a color in your favorite colors tuple.

10. Calculate the sum of the ages in the family members tuple.

11. Find the minimum and maximum ages in the family members tuple.

These exercises will help you practice different operations on tuples in Python and understand the immutability concept associated with them.

## Strings

![](https://prepbytes-misc-images.s3.ap-south-1.amazonaws.com/assets/1675141303864-Python%20String%20Methods%20and%20Functions2.png)

### Definition:

A string is a sequence of characters enclosed within single (' '), double (" "), or triple (''' ''' or """ """) quotes. Strings are a fundamental data type in programming and are used to represent text.

### Why we need strings:

1. **Text Representation:** Strings are used to store and manipulate textual data.
2. **Data Processing:** Many algorithms involve processing and analyzing strings.
3. **Input/Output:** Interaction with users often involves handling strings.
4. **Text Formatting:** Strings are used for formatting and presenting information.

### Different Methods Used on Strings:

#### 1. **Creating a String:**
   - **Definition:** Creating a string by enclosing characters in quotes.
   - **Example:**

In [ ]:
my_string = "Hello, World!"

#### 2. **Accessing Characters:**
   - **Definition:** Accessing individual characters in a string using indexing.
   - **Example:**

In [ ]:
first_char = my_string[0]  # Accessing the first character
first_char

#### 3. **Slicing:**
   - **Definition:** Extracting a portion of a string.
   - **Example:**

In [ ]:
substring = my_string[7:12]  # Extracting characters from index 7 to 11
substring

#### 4. **Concatenation:**
   - **Definition:** Combining two or more strings.
   - **Example:**

In [ ]:
greeting = "Hello"
name = "Alice"
full_greeting = greeting + " " + name  # Concatenating strings
full_greeting

#### 5. **Length:**
   - **Definition:** Finding the length of a string.
   - **Example:**

In [ ]:
length = len(my_string)
length

13

#### 6. **Lowercase and Uppercase:**
   - **Definition:**
     - `lower()`: Converts all characters in a string to lowercase.
     - `upper()`: Converts all characters in a string to uppercase.
   - **Example:**

In [ ]:
lowercase_str = my_string.lower()
print(lowercase_str)
uppercase_str = my_string.upper()
print(uppercase_str)

hello, world!
HELLO, WORLD!

#### 7. **Find and Replace:**
   - **Definition:**
     - `find()`: Returns the index of the first occurrence of a substring.
     - `replace()`: Replaces occurrences of a substring with another substring.
   - **Example:**

In [ ]:
index_of_world = my_string.find("World")
print(index_of_world)
replaced_str = my_string.replace("Hello", "Hi")
print(replaced_str)

7
Hi, World!

#### 8. **`count()`:**
   - **Definition:** Returns the number of occurrences of a specified substring in the string.
   - **Example:**

In [ ]:
sentence = "Python is fun, and Python is powerful."
count_python = sentence.count("Python")
count_python

2

#### 9. **`index()`:**
   - **Definition:** Returns the index of the first occurrence of a specified substring.
   - **Example:**

In [ ]:
sentence = "Python is fun, and Python is powerful."
index_python = sentence.index("Python")
index_python

0

#### 10. **`islower()`, `isupper()`:**
   - **Definition:**
     - `islower()`: Returns True if all characters in the string are lowercase.
     - `isupper()`: Returns True if all characters in the string are uppercase.
   - **Example:**

In [ ]:
word_lower = "hello"
word_upper = "WORLD"
is_lower = word_lower.islower()
print(is_lower)
is_upper = word_upper.isupper()
print(is_upper)

True
True

#### 11. **`isalpha()`, `isdigit()`, `isnumeric()`:**
   - **Definition:**
     - `isalpha()`: Returns True if all characters in the string are alphabetic.
     - `isdigit()`: Returns True if all characters in the string are digits.
     - `isnumeric()`: Returns True if all characters in the string are numeric.
   - **Example:**

In [ ]:
alpha_str = "abc"
digit_str = "123"
numeric_str = "12.34"
alpha_str.isalpha()

In [ ]:
digit_str.isdigit()

In [ ]:
numeric_str.isnumeric()








#### 12. **`title()`, `capitalize()`:**
   - **Definition:**
     - `title()`: Returns a titlecased version of the string.
     - `capitalize()`: Returns a copy of the string with its first character capitalized.
   - **Example:**

In [ ]:
sentence = "python programming is fun"
title_case = sentence.title()
print(title_case)
capitalized = sentence.capitalize()
print(capitalized)

Python Programming Is Fun
Python programming is fun

#### 13. **`replace()`:**
   - **Definition:** Replaces occurrences of a specified substring with another substring.
   - **Example:**

In [ ]:
sentence = "Python is fun, and Python is powerful."
replaced_str = sentence.replace("Python", "Java")
replaced_str

#### 14. **`sorted()`:**
   - **Definition:** Returns a sorted list of the characters in the string.
   - **Example:**

In [ ]:
word = "python"
sorted_chars = ''.join(sorted(word))
sorted_chars

#### 15. **`join()`:**
   - **Definition:** Joins the elements of an iterable (e.g., a list) into a string using the specified delimiter.
   - **Example:**

In [ ]:
words[0] + " " + words[1] +" " + words[2]

'Python is awesome'

In [ ]:
words = ["Python", "is", "awesome"]

In [ ]:
words = ["Python", "is", "awesome"]
sentence = ' '.join(words)
sentence

'Python is awesome'

#### 16. **`strip()`, `lstrip()`, `rstrip()`:**
   - **Definition:**
     - `strip()`: Removes leading and trailing whitespaces.
     - `lstrip()`: Removes leading whitespaces.
     - `rstrip()`: Removes trailing whitespaces.
   - **Example:**

In [ ]:
raw_string = "   Hello, World!   "
stripped_str = raw_string.rstrip()
stripped_str

'   Hello, World!'

#### 17. **`split()`:**
   - **Definition:** Splits the string into a list of substrings based on a specified delimiter.
   - **Example:**

In [ ]:
sentence = "Python is fun, and Python is powerful."
words = sentence.split()  # Splits by whitespace
words

['Python', 'is', 'fun,', 'and', 'Python', 'is', 'powerful.']

### Exercises:

1. Create a string with your full name.
2. Access and print the second character of the string.
3. Slice the string to get only your first name.
4. Concatenate your first name with a greeting string.
5. Find the length of your full name.
6. Convert your full name to uppercase.
7. Find the index of the first occurrence of a specific character in your name.
8. Replace a part of your name with another string.
9. Count the number of occurrences of the word "Python" in a given sentence.
10. Find the index of the first occurrence of the word "is" in the same sentence.
11. Check if a given string is in lowercase and another in uppercase.
12. Check if a string contains only alphabetic characters or digits.
13. Convert a string to title case and capitalize the first character.
14. Replace all occurrences of a specific word in a sentence.
15. Sort the characters of a string alphabetically.
16. Join a list of words into a sentence using a space as the delimiter.
17. Remove leading and trailing whitespaces from a string.
18. Split a sentence into a list of words.

These exercises will help you practice different operations on strings in Python.

## Sets

### Definition:

A set is an unordered collection of unique elements. In Python, sets are defined using curly braces `{}` or the `set()` constructor. Sets do not allow duplicate elements, and they are useful for tasks involving membership tests and eliminating duplicate entries.

### Why we need sets:

1. **Uniqueness:** Sets automatically eliminate duplicate elements.
2. **Membership Testing:** Checking whether an element is present in a set is faster than in a list.
3. **Mathematical Operations:** Sets support various mathematical operations like union, intersection, and difference.

### Different Methods Used on Sets:

#### 1. **Creating a Set:**
   - **Definition:** Creating a set with unique elements.
   - **Example:**

In [ ]:
my_set = {1, 2, 3, 4, 5}

In [ ]:
my_set

{1, 2, 3, 4, 5}

#### 2. **Adding Elements:**
   - **Definition:** Adding a single element or multiple elements to a set.
   - **Example:**

In [ ]:
my_set.add(6) # Adding a single element
print(my_set)
my_set.update({7, 8})  # Adding multiple elements
print(my_set)

#### 3. **Removing Elements:**
   - **Definition:** Removing an element from a set.
   - **Example:**

In [ ]:
my_set.remove(3)    # Removing element 3
print(my_set)
my_set.discard(10)  # Discarding element 10 (if present)
print(my_set)

#### 4. **Union, Intersection, and Difference:**

![](https://i.stack.imgur.com/uH6cL.png)
   - **Definition:**
     - `union()`: Returns a new set containing all unique elements from both sets.
     - `intersection()`: Returns a new set containing common elements of both sets.
     - `difference()`: Returns a new set containing elements in the first set but not in the second.
   - **Example:**

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
set1.intersection(set2)

{3, 4, 5}

In [ ]:
set1.difference(set2)

{1, 2}

In [ ]:
set2.difference(set1)

{6, 7}

In [ ]:
set1.difference(set2).union(set2.difference(set1))

{1, 2, 6, 7}

#### 5. **Subset and Superset:**

![](https://academy.vertabelo.com/static/python-basics-part-3-sets-subset-superset.png)

   - **Definition:**
     - `issubset()`: Returns True if all elements of one set are present in another.
     - `issuperset()`: Returns True if a set contains all elements of another.
   - **Example:**

In [ ]:
set1.issubset(set2)

False

In [ ]:
set1.issuperset(set2)

False

#### 6. **Removing and Clearing:**
   - **Definition:**
     - `pop()`: Removes and returns an arbitrary element from the set.
     - `clear()`: Removes all elements from the set.
   - **Example:**

In [ ]:
popped_element = my_set.pop()  # Removes and returns an element
print(popped_element)
my_set.clear()                 # Clears all elements from the set
print(my_set)

1
set()

### Exercises:

1. Create two sets with some common elements.
2. Add a new element to one of the sets.
3. Remove an element from the other set.
4. Find the union, intersection, and difference of the two sets.
5. Check if one set is a subset of the other.
6. Check if one set is a superset of the other.
7. Remove and print an arbitrary element from one of the sets.
8. Clear all elements from one of the sets.

These exercises will help you practice different operations on sets in Python.

## Dictionaries


### Definition:

A dictionary is an unordered collection of key-value pairs. Each key in a dictionary must be unique, and it maps to a specific value. Dictionaries in Python are defined using curly braces `{}` and have a flexible structure, allowing storage of various data types as values.

### Why we need dictionaries:

1. **Key-Value Mapping:** Dictionaries allow mapping of keys to corresponding values, providing a way to organize and retrieve data.
2. **Fast Lookup:** Retrieving a value based on a key is faster in a dictionary compared to searching in a list.
3. **Flexible Structure:** Dictionaries can store a variety of data types as both keys and values, making them versatile.
4. **Data Manipulation:** Dictionaries are useful for tasks like counting occurrences, grouping data, and more.

### Different Methods Used on Dictionaries:

#### 1. **Creating a Dictionary:**
   - **Definition:** Creating a dictionary with key-value pairs.
   - **Example:**

In [2]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

#### 2. **Accessing Values:**
   - **Definition:** Accessing the value associated with a specific key.
   - **Example:**

In [4]:
my_dict['pincode'] = [32453,34564]

In [5]:
name_value = my_dict['name']
name_value

'John'

In [6]:
my_dict

{'name': 'John', 'age': 25, 'city': 'New York', 'pincode': [32453, 34564]}

#### 3. **Adding and Updating Entries:**
   - **Definition:**
     - `my_dict[new_key] = new_value`: Adding a new key-value pair.
     - `my_dict[key] = updated_value`: Updating the value of an existing key.
   - **Example:**

In [8]:
my_dict['occupation'] = 'Engineer'  # Adding a new entry
print(my_dict)
my_dict['age'] = 26                 # Updating the age value
print(my_dict)

{'name': 'John', 'pincode': [32453, 34564], 'occupation': 'Engineer'}
{'name': 'John', 'pincode': [32453, 34564], 'occupation': 'Engineer', 'age': 26}

#### 4. **Removing Entries:**
   - **Definition:** Removing a key-value pair from the dictionary.
   - **Example:**

In [10]:
my_set = {2,3,4,5,6,7,8,9}

In [17]:
my_set

{2, 4, 5, 6, 7, 8, 9}

In [15]:
my_set.remove(3)

KeyError: 3

In [16]:
my_set

{2, 4, 5, 6, 7, 8, 9}

In [18]:
my_set.discard(10)

In [19]:
my_set

{2, 4, 5, 6, 7, 8, 9}

In [7]:
del my_dict['city']      # Removing the 'city' entry
print(my_dict)
popped_value = my_dict.pop('age')  # Removing and returning the 'age' value
print(popped_value)

{'name': 'John', 'age': 25, 'pincode': [32453, 34564]}
25

#### 5. **Keys, Values, and Items:**
   - **Definition:**
     - `keys()`: Returns a list of all keys in the dictionary.
     - `values()`: Returns a list of all values in the dictionary.
     - `items()`: Returns a list of key-value pairs (tuples) in the dictionary.
   - **Example:**

In [ ]:
my_dict.keys()

In [ ]:
my_dict.values()

In [ ]:
my_dict.items()

#### 6. **Checking Membership:**
   - **Definition:**
     - `key in my_dict`: Returns True if the key is present in the dictionary.
   - **Example:**

In [ ]:
is_name_present = 'name' in my_dict

### Exercises:

1. Create a dictionary representing information about a book (title, author, year, etc.).
2. Access and print the author's name from the dictionary.
3. Add the genre of the book to the dictionary.
4. Update the year of publication in the dictionary.
5. Remove the genre from the dictionary.
6. Print all keys, values, and items of the dictionary.
7. Check if 'publisher' is a key in the dictionary.
8. Remove and print the value associated with the 'title' key.

These exercises will help you practice different operations on dictionaries in Python.